backports.shutil-get-terminal-size==1.0.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
configparser==5.0.2
enum34==1.1.10
flake8==3.9.2
Flask==2.0.1
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
nose==1.3.7
numpy==1.21.2
pathlib==1.0.1
pew==1.2.0
pipenv==2021.5.29
pycodestyle==2.7.0
pyflakes==2.3.1
requests==2.26.0
shutilwhich==1.1.0
urllib3==1.26.7
virtualenv==20.8.1
virtualenv-clone==0.5.7
Werkzeug==2.0.1
